@using KnightTournament.BLL.Implementations;
@using KnightTournament.ViewModels;
@model DisplayViewModel<CombatDetailsViewModel>
@inject RoundService _roundService;
@{
    var round =  (await _roundService.GetByIdAsync(ViewBag.roundId)).Data;
}
<style>
    .tournament-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: start;
    }

    .tournament-item {
        border: 1px solid #ccc;
        padding: 10px;
/*         width: 30%; */
        box-sizing: border-box;
    }

    .operations a {
        margin-right: 20px;
        display: inline-flex;
    }
</style>
<div>
    <p>
        <a asp-action="Display" asp-controller="Round" asp-route-tournamentId="@round.TournamentId" class="btn btn-primary"><span>&#10094; </span>Back to rounds</a>
        <a asp-action="Create" asp-controller="Combat" asp-route-roundId="@ViewBag.roundId" class="btn btn-outline-primary">Create new</a>
    </p>
</div>
<div class="tournament-list">
    @foreach (var combat in Model.Entities)
    {
        <div style="display:inline-flex; ">
            <div class="tournament-item">
                <h2>@combat.Type</h2>
                <p>Start Date:@combat.StartDate</p>
                <p>End Date:@combat.EndDate</p>
                <div class="operations">
                    <a asp-controller="Combat" asp-action="Delete" asp-route-id="@combat.Id" asp-route-roundId="@combat.RoundId" class="btn btn-danger">Delete</a>
                    <a asp-controller="Combat" asp-action="Update" asp-route-id="@combat.Id" asp-route-roundId="@combat.RoundId" class="btn btn-primary">Update</a>
                </div>
            </div>
            <div class="tournament-item">
                <img id="combatTypeImage" src="@combat.PathToImage" alt="Combat Type Image" style="max-width:160px; max-height:160px" />
            </div>
        </div>
        <br />
    }
</div>